<a href="https://colab.research.google.com/github/ralbu85/SME_dataprocess2_2022/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D2_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C1_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas 모듈 불러오기
import pandas as pd

In [ ]:
# 데이터 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/ralbu85/SME_dataprocess2_2022/main/data/nba.csv')

In [ ]:
df

## 문제1 <br>
포인트가드(PG)에서 연봉이 800,000 달라 넘는 선수의 수를 구하시오

In [ ]:
# 정답작성

## 문제2<br>
위 데이터를 바탕으로 존재하는 모든 팀의 이름을 추려내어 보시오<br>
힌트: np.unique()를 인터넷에 검색해보고, api를 참고하시오

In [ ]:
# 정답작성

## 문제3<br>
모든 포지션 별 평균 나이를 계산하여 출력해 보시오 <br>
힌트: 위에서 사용한 np.unique()를 이용

In [ ]:
# 정답작성

## 문제4 <br>
Height에 기재된 키는 feet 단위로 되어있다. 이를 변환하여 cm로 바꾸시오. 바꾼 결과는 기존 데이터프레임에 Height_cm 이라는 이름의 열로 저장하시오.

In [ ]:
# 정답작성

## 문제5 <br>
포지션 별로 평균 신장과 표준편차를 각각 구하여 출력해 보시오<br>
포지션 별 신장에 차이가 있는지 데이터 분석을 통해 결론내려보시오.

In [ ]:
# 정답작성

## 문제6<br>
포지션별로 30대 이상인 선수와 30대 미만인 선수의 연봉을 비교해보고, 나이가 연봉에 영향을 끼치는 중요 요소인지 결론을 내려보시오. <br>
힌트: 분석결과에 바탕을 두고 결론 내릴것, 필요하다면 분석결과를 설명하는 텍스트 셀을 하나 추가해도 됨

In [ ]:
# 정답작성

## 주의사항
* 코드작성후 파일-다운로드-.ipynb 다운로드
* 코드 다운로드 후 lms 과제탭에 업로드할것
* 기한엄수, 제출형식(.ipynb) 엄수!